/* Colors */
$color-blue: #70D6FF;
$color-pink: #FF70A6;
$color-orange: #FF9770;
$color-yellow: #F4E12F;
$color-light: #E9FF70;

$color-black: #131313;
$color-white: #FFFFFF;

/* Spacing */
$padding: 2rem;

/* Fonts */
$font-1: 'Racing Sans One', sans-serif;
$font-2: 'Titillium Web', sans-serif;

/* Breakpoints */
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1500px;